.timer-box {
  position: relative;
  top: 35%;
  width: 100%;
}

.time-label {
  text-align: center;
  font-size: 4.5rem;
}

.time-button {
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .time-label {
    font-size: 2.75rem;
  }
  
  .time-button {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1200px) {
  .time-label {
    font-size: 3.75rem;
  }
  
  .time-button {
    font-size: 1.5rem;
  }
}

form {
  padding: 20px;
}

input {
  margin-top: 5px;
  width: 220px;
  line-height: 30px;
}

li input {
  width: 280px;
}

.task-title {
  font-size: 2.75rem;
}