<div class="timer-box">
  <div class="row">
    <h1 class="time-label col-xs-2 col-xs-offset-5">{{ TCtrl.TFactory.currentTime | mmssFormat }}</h1>
  </div>
  <div class="row">
    <button class="time-button col-xs-2 col-xs-offset-5 btn btn-success" type="submit" ng-click="TCtrl.TFactory.workClick()" ng-show="!TCtrl.TFactory.onBreak">{{ TCtrl.TFactory.currentButtonText }}</button>
    <button class="time-button col-xs-2 col-xs-offset-5 btn btn-success" type="submit" ng-click="TCtrl.TFactory.breakClick()" ng-show="TCtrl.TFactory.onBreak">{{ TCtrl.TFactory.currentButtonText }}</button>
  </div>
</div>
