<div id="page-content-wrapper">
  <button ng-click="pomo.toggleMenu()" class="btn btn-primary">Toggle Task History</button>
  <div class="timer-box">
    <div class="row">
      <h1 class="time-label col-xs-2 col-xs-offset-5">{{ pomo.timer.currentTime | mmssFormat }}</h1>
    </div>
    <div class="row">
      <button class="time-button col-xs-2 col-xs-offset-5 btn btn-success" type="submit" ng-click="pomo.timer.workClick()" ng-show="!pomo.timer.onBreak">{{ pomo.timer.currentButtonText }}</button>
      <button class="time-button col-xs-2 col-xs-offset-5 btn btn-success" type="submit" ng-click="pomo.timer.breakClick()" ng-show="pomo.timer.onBreak">{{ pomo.timer.currentButtonText }}</button>
    </div>
  </div>
</div>
